@use "../../assets/sass/_variables.scss"as *;

.beer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 1fr 1fr 1fr
  grid-template-rows: auto;
  gap: 20px;
  // grid-auto-rows: 60px;
  
  }
