@use "../../assets/sass/_variables.scss"as *;

.beer-card {
  // position: relative;
  border-radius: 15px;
  overflow: visible;
  box-shadow: 0px 10px 10px rgba($color-black, 0.25);
  padding: 10px;

  &>* {
    margin: 10px 0;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: auto;
  //  max-width: 100%;
    border-radius: 35%;
  }

  #beer-card__img--false{
    transform: rotate(30deg)!important;
    // border:2px solid #fff;
    font-size:50px;
      // box-shadow: 10px 10px 10px #ccc;
      // box-shadow: 0px -10px 30px #ccc;
    

    

  }

  &__heading {
    font-size: 24px;
    transition: ease-in-out;
    font-family: Druk, sans-serif;
    padding: 10px 0px 0px 0px;
  }

  &__desc &__firstbrew {
    // height: 100%;
    top: 0;
    overflow-y: auto;
    white-space: pre-line; 
  }

  @media screen and (max-width: 800px) {
    // min-height: calc(1em + 0.8rem + 1.5px); 
    font-size: 1rem;
    // font-weight: 300;
    &__img {
      height: 230px;
    }
    &__heading {
      font-size: 20px;
    }
    &__desc &__firstbrew {
      font-weight: 300;
    }
  }
}

.beer-card:hover{
  box-shadow: 0px 10px 10px rgba($color-black, 0.45);
}
