@use "./assets/sass/_variables.scss"as *;

* {
  background-color: $color-background;
  margin: 0px;
  // padding: 0 50px;
}

.mainPage {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.header {
  text-align: center;
  margin-top: 30px;
  // animation: none;
  // margin-bottom: 7px;
  font-size: 48px;
  font-family: Druk, sans-serif;
  padding-top: 3px;
  letter-spacing: .01em;
  // font-weight: 900;
  text-transform: uppercase;
  line-height: .85;
  // margin: 0 0 10px;


  &__msg {
    font-size: 18px;
    font-style: abadi-mt-condensed, Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 40px;
    text-transform: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 33px;
    font: abadi-mt-condensed, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    // padding: 0 50px;
  }
}