@use "../../assets/sass/_variables.scss" as *;
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: $color-black;
  margin: 0px 20px;
  transition: background .2s linear;
  z-index: 100;

  &__item {
    height: 30px;
    // margin: 0px 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    grid-column: 1 / -1;
  }
}
